body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #FFF;
  font-family: 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container1213 {
  max-width: 1213px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

.text {
  text-align: center;
  font-style: normal;
}